.topbar {
    width: 100%;
    margin-bottom: 2%;
    display: flex;
}

.recoment {
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}

.item p {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.item {
    background: white;
    border-radius: 15px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.507);
    font-weight: bold;
    font-size: small;
}

.item.negro {
    background: black;
    color: white;
}

.search {
    background: white;
    width: 32%;
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.521);
    font-weight: bold;
    font-size: small;
}

.search p {
    margin: 0;
}

.search img{
    width: 20px;
}